* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header-content {
    background-color: black;
    color: white;
    font-size: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
    margin: 0;
}

.btn {
    padding: 5px;
    width: 15rem;
    color: white;
    font-size: 24px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    border-radius: 10px;

}

#start-btn {
    background-color: green;
}

#reset-btn {
    background-color: maroon;
}

#wrapper {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

#word-container {
    float: left;
    height: 25rem;
    width: 25rem;
    width: 50%;
    border: 3px solid black;
    border-radius: 10px;
    margin-right: 10%;
    background-color: papayawhip;
    box-shadow: 5px 5px 5px black;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 10rem;
}

#stats-container {
    float: left;
    height: 25rem;
    width: 30%;
    background-color: papayawhip;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    text-align: center;
    padding-top: 5.25rem;
}

#stats-container > h2 {
    margin-bottom: 3rem;
}

/* Responsive design */

@media screen and (max-width: 768px) {
    #wrapper {
        flex-direction: column;
    }

    #button-wrapper {
        display: flex;
        flex-direction: column;
    }

    .btn {
        margin-left: auto;
        margin-right: auto;
    }

    #reset-btn {
        margin-top: 3rem;
    }

    #word-container, #stats-container {
        width: 90%;
        margin-bottom: 7.5%;
        margin-right: 0;
        margin-left: 5%;
    }

}