* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(148, 145, 145);
}

.header-content {
    background-color: #3D5E7A;
    color: white;
    font-size: 36px;
    font-family: 'Noto Serif SC', serif;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 2%;
    margin: 0;
}

.btn {
    padding: 5px;
    width: 15rem;
    color: black;
    font-size: 24px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

#start-btn {
    background-color: #C9E3FB;
}

#reset-btn {
    background-color: #C9E3FB;
}

#wrapper {
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 8%;
}

#word-container, #stats-container {
    float: left;
    height: 25rem;
    background-color: #C9E3FB;
    border: 5px solid #3D5E7A;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    text-align: center;
}

#word-container {
    width: 50%;
    margin-right: 10%;
    font-size: 50px;
    font-family: 'Noto Serif SC', serif;
    font-weight: bold;
    padding-top: 10rem;
}

#stats-container {
    width: 30%;
    padding-top: 5.25rem;
    font-family: Arial, Helvetica, sans-serif;
}

#stats-container > h2 {
    margin-bottom: 3rem;
}

footer {
    width: 100%;
    height: 7rem;
    background-color: #3D5E7A;
}

/* Responsive design */

@media screen and (max-width: 768px) {
    #wrapper {
        flex-direction: column;
    }

    #button-wrapper {
        display: flex;
        flex-direction: column;
    }

    .btn {
        margin-left: auto;
        margin-right: auto;
    }

    #reset-btn {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    #word-container, #stats-container {
        width: 90%;
        margin: 7% 0 7.5% 5%;
    }

}